In [5]:
print(2+5+10)

17

Importing Libraries

In [6]:
import pandas as pd
import sqlalchemy as sa

In [7]:
   
server = r'BIS-000-SP05.bis.xswhealth.nhs.uk, 14431'
database = 'Reference'

# The following constructs a connection string understood by SQL Server. It 
# adds in the server and database specified above.
connection_string = ('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+
                     ';DATABASE='+database+
                     ';ENCRYPT=no;TRUSTED_CONNECTION=yes;'
    )

# the connection_url combines the the connection string with the driver and
# the sql dialect
connection_url = sa.engine.URL.create(
    "mssql+pyodbc", # sqlalchemy blends the dialect of SQL with the pyodbc driver 
    query=dict(odbc_connect=connection_string)
    )

# sqlalchemy builds a connection engine from the connection_url.
# fast_executemany = True speeds up the query.
engine = sa.create_engine(connection_url, fast_executemany= True) 

# enter the SQl query here in an f-string. The backslashes act both as line-break
# characters and escape characters for the apostrophes.
query = f'SELECT  [Practice_Code]\
         ,[GSUM_National_Normalised_Weighted_List_Size]\
        FROM [Reference].[Local].[Practice_Populations]'

# import the data into a pandas dataframe using the .read_sql() method,
# which takes the SQL query and the connection engine as arguments.
df_ref = pd.read_sql(query, engine)

In [8]:
df_ref.head()

  Practice_Code  GSUM_National_Normalised_Weighted_List_Size
0        G81001                                      9293.26
1        G81001                                      9098.89
2        G81001                                      9078.31
3        G81001                                      8985.85
4        G81001                                      8961.35

In [22]:
gp_df = pd.read_csv('Data/all_data.csv')
#number of rows
gp_df.shape

(557848, 13)